html,
body {
    background-image: url("../../img/bg2.png");
    overflow-x: hidden;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    text-align: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: britany;
    src: url(../../fonts/BrittanySignature.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #9f5db1 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #612330;
    border-radius: 100px;
    border: 0px solid #ffffff;
}

#scrolling-svg {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

#popup-box {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
    text-align: left;
}

.pagininhas {
    color: #944E4C;
    font-family: 'IM Fell English', serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 131%;
    margin: 5px;
}

#pages-content a {

    text-decoration: none;
    cursor: pointer;
}

.a {
    color: #612330;
    font-family: 'IM Fell English', serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 131%;
    /* 30.392px */
    text-decoration: none;
}

.a:hover {
    color: #612330;
    text-decoration: none;
}

.b {
    background-color: #612330;
    text-decoration: none;
    font-size: 27px;
    padding: 14px;
    position: fixed;
    width: 100vw;
    margin-left: -8px;
    font-family: 'IM Fell English', serif;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}

.btn::after {
    content: '';
    width: 0;
    height: 2px;
    /* Set the line thickness */
    background-color: black;
    /* Set the line color */
    transition: width 0.5s ease;
    /* Add a smooth transition effect */
}

/* Hover effect to make the line appear */
.btn:hover::after {
    width: 100%;
}

.bar {
    display: flex;
    justify-content: space-evenly;

}

.navegacao {
    color: #ffff;
    text-decoration: none;
    font-family: 'IM Fell English', serif;
}


#atual {
    border-bottom: 3px solid white;
}

.pages-box {
    display: none;
    position: absolute;
    top: 50px;
    /* Adjust the top position according to your design */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
}

.page-link {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}


.page-link {
    color: #944E4C;
    font-family: 'IM Fell English', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 131%;
    margin: 5px;
}

.textinho {
    background-image: url("../../img/papel.png");
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    color: #944E4C;
    margin-top: 45px;
}

.textinho2 {
    background-image: url("../../img/papel2.png");
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    color: #944E4C;
    margin-top: 45px;
}


.padrinhos {
    color: #612330;
    font-family: britany;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: -13px;
    margin-left: 20px;
}

.queridos {
    color: #944E4C;
    font-family: IM FELL English;
    font-size: 20px;
    line-height: 110%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: left;
    justify-content: center;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
    margin-bottom: -45px;
}

.fotos img {
    display: block;
    width: 85px;
    background: #612330;
    border-radius: 50%;
    margin: 5px;
}

.fotos p {
    color: #612330;
    font-family: IM FELL English;
    font-size: 15px;
    font-style: normal;
    line-height: 110%;
}

@media (min-width: 260px){
    .queridos {
        font-size: 16px;
    }
}

@media (min-width: 320px){
    .queridos {
        font-size: 18px;
    }
}

@media (min-width: 450px){
    .queridos {
        font-size: 20px;
    }
}





@media (min-width: 1024px) {
    .b {
        visibility: visible;
        opacity: 1;
    }

    .bar {
        opacity: 1;
        visibility: visible;
    }

    .navegacao {
        color: #ffff;
        text-decoration: none;
        /* Adjust the value as needed */
        font-family: 'IM Fell English', serif;
        opacity: 1;
        visibility: visible;
    }

    #scrolling-svg {
        opacity: 0;
        visibility: hidden;
    }

    #popup-box {
        opacity: 0;
        visibility: hidden;
    }

    .textinho {
        width: auto;
        min-height: 80%;
    }

    .textinho2 {
        width: auto;
        height: 500px;
        margin-top: 0;

    }

    .padrinhos {
        font-size: 64px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10%;
    }

    .queridos {
        font-size: 35px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 0px;
    }

    .fotos {
        margin-top: 5px;
        margin-bottom: -45px;
    }

    .fotos img {
        width: 170px;
        margin: 17px;
    }

    .fotos p {
        font-size: 25px;
        line-height: 110%;
    }

    .e {
        margin-bottom: 120px;
    }

    .page-link {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    .fotos img {
        width: 215px;
        margin: 20px;
    }

    .page-link {
        font-size: 20px;
    }


}

@media (min-width: 1366px) {
    .fotos img {
        width: 227px;
        margin: 23px;
    }

    .page-link {
        font-size: 22px;
    }


}

@media (min-width: 1600px) {
    .textinho {
        min-height: 76%;
    }

    .fotos img {
        width: 266px;
        margin: 27px;
    }

    .page-link {
        font-size: 22px;
    }

}

@media (min-width: 1920px) {
    .fotos img {
        width: 320px;
        margin: 33px;
    }

    .textinho {
        width: auto;
        height: 86%;
    }

    .textinho2 {
        width: auto;
        height: 60%;
        margin-top: 0;
    }

    .padrinhos {
        font-size: 64px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10%;
    }

    .queridos {
        font-size: 35px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 0px;
    }

    .page-link {
        font-size: 25px;
    }


}